<html>
    <head>
        <style>
            #title {
                font-family: "Arial Black", Gadget, sans-serif;
                color: #{{ title_color_code }};
            }
            li {
                font-family: sans-serif;
            }
            body {
                background-color: {{ background_color_code }};
            }
        </style>
        <title>{{ author_name }}'s blog</title>
    </head>
    <body>
        <h1 id="title">{{ author_name }}'s blog</h1>
        <ul>
            {%- for article in self.articles_list.iter() %}
                <li><a href="{{ article.file_name }}">{{ article.title }}</a></li>
            {% endfor -%}
        </ul>
    </body>
</html>
